# Virtual environment

job_tracker/venv/
job_tracker/env/
job_tracker/.venv/

# Python

**pycache**/
_.py[cod]
_$py.class

# Django

job_tracker/db.sqlite3
job_tracker/db.sqlite3-journal
\*.log
media/

# Environment variables / secrets

job_tracker/.env

# Editor / OS

.vscode/
.idea/
.DS_Store
Thumbs.db

# Static files (only if you collectstatic to a separate folder)

staticfiles/
